<ion-view class="konten" title="Cek Nama">
    <ion-content>
        <div class="list padding">

            <div ng-repeat="content in contents" class="card">
              <div class="item bg-food borderAtas animated bounceInLeft item-text-wrap royal">
                <p><strong>Nama Produk:</strong> <br />
                {{ content.nama_produk }}</p>
                <p><strong>Nama Produsen:</strong> <br />
                {{ content.nama_produsen }}</p>
                <p><strong>Nomor Sertifikat:</strong> <br />
                {{ content.nomor_sertifikat }}</p>
                <p><strong>Berlaku Hingga:</strong> <br />
                {{ content.berlaku_hingga }}</p>
              </div>
            </div>             
        </div>
    </ion-content>
</ion-view>
