<ion-view class="konten" ng-controller="HomeCtrl" view-title="Home">
    <ion-content>
        <div class="list padding">
            <div class="item item-divider">
                <strong style="color: white !important;">Silahkan Pilih Kategori</strong>
            </div>
            <div class="listKategori">
                <ion-list>
                    <ion-radio ng-model="choice" ng-value="'produk'"><strong><span style="margin-right: 1em; font-weight: normal !important;" class="ion-social-buffer"></span>  Nama Produk</strong></ion-radio>
                    <ion-radio ng-model="choice" ng-value="'sertifikat'"><strong><span style="margin-right: 1em;" class="ion-clipboard"></span>  Nomor Sertifikat</strong></ion-radio>
                    <ion-radio ng-model="choice" ng-value="'produsen'"><strong><span style="margin-right: 1em;" class="ion-cube"></span>  Nama Produsen</strong></ion-radio>
                </ion-list>
            </div>
            <button ng-click="kategori(choice)" class="button button-block button-royal">
                Lanjutkan <span class="ion-arrow-right-b"></span>
            </button>
            <div class="card animated tada">
                <div class="item item-text-wrap">
                    <span style="margin-right: 1em;" class="ion-information-circled"></span><strong>Petunjuk</strong>
                    <p>Silahkan pilih berdasarkan kategori yang akan digunakan.</p>

                </div>
            </div>            
        </div>
    </ion-content>
</ion-view>
